.element__like{
    background-color: white;
    border: none;
    margin: 0;
    padding: 0;
    max-width: 22px;
    max-height: 19px;
    margin-right: 30px;
    align-self: center;
    cursor: pointer;
}

.element__like:hover{
    opacity: .5;
}

.element__like:active{
    background-image: url(../../../images/Like_active.png);
    opacity: 1;
}