.header__line{
    box-sizing: border-box;
    border-bottom: 1px solid #545454;
    opacity: .7;
    margin: 41px 0 0;
}

@media screen and (max-width: 650px){
    .header__line{
        margin: 31px 0 0;
    }
}